<div class="task">
  <div class="task__title"><%= link_to task.title, task, :onclick => '' %></div>
  <div class="task__delete"><%= link_to "X", task_path(task), :method => :delete %></div>
  <div class="task__notes"><%= task.notes %></div>
  <div class="task__record">...</div>
  <div class="task__controls"></div>
</div>