<%= javascript_pack_tag 'tasks' %>

<%= content_tag :div, id: "tasks", data: {tasks: @tasks} do %>
<% end %>

<!-- <p>All tasks</p>

<div class="tasks">
    <% @tasks.each do |task| %>
      <%= render task %>
    <% end %>

</div>
<div class="task">
  <%= link_to "+", tasks_path(:title => "title"), :method => :post, :remote => true, :id => "create" %>
</div> -->