// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tasks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .task {
    position: relative;
    background-color: #DAF7A6;
    width: 49%;
    margin-bottom: 2%;

    &:before {
      float: left;
      content: '';
      padding-top: 100%;
    }

    .task__title {
      font-weight: bold;
      text-align: center;
    }

    .task__notes {
      color: lightgrey;
      font-size: 0.8em
    }

    .task__record {
    }

    .task__controls {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding-top: 20%;
    }
  }
}